<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/resources :: resources">
</head>
<head>
	<title>About Me | David Liao</title>
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>

	<div class="layout">

		<div class="page-header">
			<h1>A bit about myself</h1>
		</div>

		<div class="well">
			Lorem ipsum dolor sit amet, consectetur
			adipiscing elit. Etiam egestas placerat felis vitae porttitor. Nunc
			blandit sapien id lacus viverra vehicula. Praesent elit risus,
			convallis a accumsan sed, fermentum sed sapien. In rhoncus ipsum ac
			malesuada luctus. In imperdiet neque auctor, fringilla massa eget,
			rhoncus orci. Integer nisl elit, hendrerit sit amet mi at, luctus
			scelerisque ex. Sed ultrices sodales magna, eget commodo ante dapibus
			vel. Nam nec enim odio. Sed euismod lobortis congue. Duis blandit
			justo et tempus eleifend. Orci varius natoque penatibus et magnis dis
			parturient montes, nascetur ridiculus mus. Morbi hendrerit aliquam
			velit quis vulputate. Integer molestie tellus sit amet est rutrum
			ultrices. Morbi lacinia sapien semper dui placerat, ut elementum
			metus lacinia. Cras aliquet ante eget lectus malesuada feugiat.
			Phasellus tempus eget ipsum vitae dapibus. Duis id metus at nibh
			mollis tincidunt. Proin vel arcu quis velit malesuada ornare. Nulla
			mi tortor, rhoncus vitae sagittis vitae, tempor vel orci. Integer
			tempor sodales orci vitae aliquam. Maecenas quis metus varius, rutrum
			nulla eu, tincidunt urna. Integer finibus ante lectus, vel
			scelerisque est ullamcorper a. Cras lobortis mattis condimentum.
			Curabitur a volutpat ipsum. Ut at eleifend leo. Nunc eu gravida
			risus, quis iaculis eros. Class aptent taciti sociosqu ad litora
			torquent per conubia nostra, per inceptos himenaeos. Praesent in quam
			vel nisl fringilla dignissim. Proin quis finibus ipsum, ac euismod
			lectus. Donec et turpis eget sapien vestibulum fermentum sed non
			felis. Donec non felis ac lorem tempor luctus eu et eros. Sed eu
			blandit eros. Etiam vehicula lacinia tristique. Donec lacus erat,
			suscipit ut arcu at, bibendum mollis leo. Pellentesque rutrum rutrum
			nisl, eget eleifend nulla venenatis in. Etiam pellentesque, ligula in
			porttitor suscipit, velit sem iaculis eros, in pulvinar ante metus id
			tellus. Fusce in felis ut turpis lobortis lacinia a sed nisi.
			Phasellus quis ornare purus. Vestibulum eu interdum massa.
			Pellentesque pretium leo sed dictum pretium. Ut ac elit pharetra,
			efficitur leo eget, eleifend tellus. Quisque nec auctor sapien. In
			lobortis luctus finibus. Quisque blandit neque eu magna egestas
			auctor. Ut posuere tristique velit. Aliquam non maximus turpis.
			Vestibulum vulputate est at nulla hendrerit, et ullamcorper libero
			tincidunt. Praesent tincidunt, dolor eu faucibus rhoncus, erat odio
			blandit nulla, sit amet condimentum ligula quam eget purus. Fusce
			purus nisl, posuere a sem sit amet, eleifend porta dui. Sed fringilla
			lacus ac pellentesque tempus. Ut porta rutrum purus luctus luctus.
			Donec dictum ac eros et dapibus. In eu elementum libero, at consequat
			ex.
		</div>

	</div>

	<div style="height: 100px"></div>

	<div th:replace="fragments/footer :: copyright"></div>
</body>
</html>
