<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/resources :: resources">
</head>
<head>
	<title>About Me | David Liao</title>
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>

	<div class="layout">

		<div class="page-header">
			<h1>A bit about myself</h1>
		</div>

		<div class="well">
			This page will be filled in very soon!
		</div>

	</div>

	<div style="height: 100px"></div>

	<div th:replace="fragments/footer :: copyright"></div>
</body>
</html>
