<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/resources :: resources">
</head>
<head>
	<title>Contact | David Liao</title>
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>

	<div class="layout">

		<div class="page-header">
			<h1>
				Contact Me <small>Contact info and other links</small>
			</h1>
		</div>

		<div class="well">
			
			<h3>Contact info</h3>
			<p><i class="fas fa-at"></i> contact@davidliao.ca
			<p><i class="fas fa-mobile-alt"></i> (613) 600-8621
			
			<h3>LinkedIn</h3>
			<i class="fab fa-linkedin"></i>
			<a class="link-dark-yellow" th:href="@{https://linkedin.com/in/david-liao/}">
				https://linkedin.com/in/david-liao/
			</a>

			<h3>GitHub</h3>
			<i class="fab fa-github-square"></i>
			<a class="link-dark-yellow" href="@{https://github.com/liaocanada}">
				https://github.com/liaocanada
			</a>
		</div>

	</div>
	
	<div style="height: 100px"></div>
	
	<div th:replace="fragments/footer :: copyright"></div>
</body>
</html>
