<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/resources :: resources">
	<title>Contact Me</title>
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>

	<div class="layout">

		<div class="page-header">
			<h1>
				Contact Me <small>Contact info and other links</small>
			</h1>
		</div>

		<div class="alert alert-success alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			I'm currently seeking a job for this summer, so you are in the right place! 
			Please send me an email or a text and we'll be in touch shortly.
		</div>

		<div class="well">
			
			
			<h3>Contact info</h3>
			<p><i class="fas fa-at"></i> contact@davidliao.ca or liao.canada@gmail.com
			<p><i class="fas fa-mobile-alt"></i> (613) 600-8621
			
			<h3>LinkedIn</h3>
			<i class="fab fa-linkedin"></i>
			<a class="link-dark-yellow" th:href="@{https://linkedin.com/in/david-liao/}">
				https://linkedin.com/in/david-liao/
			</a>

			<h3>GitHub</h3>
			<i class="fab fa-github-square"></i>
			<a class="link-dark-yellow" href="@{https://github.com/liaocanada}">
				https://github.com/liaocanada
			</a>
		</div>

	</div>
	
	<div th:replace="fragments/footer :: copyright"></div>
</body>
</html>
