<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/resources :: resources">
	<title>Home</title>
</head>

<body>
	<div th:replace="fragments/header :: navbar"></div>
	
	<!-- Banner image -->
	<div id="banner">
		<img id="banner-image" th:src="@{/static/images/home.jpg}" alt="HomePagePicture"/>
		<div id="banner-cover">
			<div id="banner-cover-contents">
				<h1>DAVID LIAO</h1>
				<h4>Web Developer</h4>
				<a class="btn btn-primary btn-block" th:href="@{/resume}" role="button"> 
					View Resume &ensp;
					<i class="fas fa-arrow-right"></i>
				</a>
			</div>
		</div>
	</div>

	<!-- Text boxes -->
	<div id="home-textbox-container" class="row row-eq-height">
	
		<!-- Achievements box -->
		<div id="home-textbox" class="col-sm-6">
			<table class="table">
				<tr><th><h3>ACHIEVEMENTS</h3></th></tr>
				<tr><td>
					<h4 class="subheader">Certifications</h4>
					<ul>
						<li><b>AWS</b> Certified Cloud Practitioner (2019)</li>
						<li><b>OCP</b> - Oracle Certified Professional Java SE 8 Programmer (2019)</li>
						<li><b>OCA</b> - Oracle Certified Associate Java SE 8 Programmer (2017)</li>

					</ul>
					<h4 class="subheader">Education</h4>
					<ul>
						<li>Carleton University, Bachelor of Computer Science
							<ul><li>A+ in all 10 courses taken so far</li></ul>
						</li>
					</ul>
				</td></tr>
				<tr><td id="button-cell">
					<a id="btn-home" class="btn btn-primary btn-block" 
						th:href="@{/achievements}" role="button"> More Info
					</a>
				</td></tr>
			</table>
		</div>
		
		<!-- Projects box -->
		<div id="home-textbox" class="col-sm-6">
			<table class="table">
				<tr><th><h3>PROJECTS</h3></th></tr>
				<tr><td>
					<h4 class="subheader">Java Spring Web Apps</h4>
					<ul>
						<li>Personal Website (this site)</li>
						<li>Human Resources Management System</li>
					</ul>
					
					<h4 class="subheader">JavaScript React Web Apps</h4>
					<ul>
						<li>CareerCounsel - a single-page application that generates 
							statistics based on real-time job listings
						</li>
						<li>Featured Listings App</li>
					</ul>
				</td></tr>
				<tr><td id="button-cell">
					<a id="btn-home" class="btn btn-primary btn-block" 
						th:href="@{/projects}" role="button"> More Info
					</a>
				</td></tr>
			</table>
		</div> <!-- /#home-textbox -->
	
	</div> <!-- /#home-textbox-container -->

	<div th:replace="fragments/footer :: copyright"></div>

</body>
</html>
