<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
		<title>Header</title>
	</head>

  <body th:fragment="navbar">

    <!-- Navigation Bar -->
    <nav class="navbar">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar-collapse"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/home}">Home</a>
        </div>

        <!-- Collect the navs for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right nav">
            <li><a th:href="@{/resume}">Resume</a></li>
            <li><a th:href="@{/achievements}">Achievements</a></li>
            <li><a th:href="@{/projects}">Projects</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!--  Takes up the space of the fixed navbar -->
		<div style="margin-top: 60px;"></div>
		
  </body>
</html>
